<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=100%, initial-scale=1.0">
  <title>Welcome!</title>
  <style>
    body {
      background-color: #cdc0b0;
    }
    h2 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
      color: #2b2a2a;
    }
  </style>
</head>
<body>
  <h2>Welcome!</h2>
  <p>This is an example HTML template file.</p>
  <p>To use the template models defined on the left please wrap the approbates in <strong><code>{}</code></strong>.</p>
  <p>Example: My name is: <strong><code>{ person.name }</code></strong>!</p>
  <p>Check out Jinja2 docs: <a href="https://jinja.palletsprojects.com/en/3.0.x/templates/">https://jinja.palletsprojects.com/en/3.0.x/</a></p>
</body>
</html>